{% extends 'app/base.html' %} {% block title %}Your Matches{% endblock %} {% block content %}
<div class="row">
  <div class="col-md-8 mx-auto social-container my-2 order-md-1">
    {% if matched_users %}
    <ul class="list-group">
      {% for user in matched_users %}
      <li class="list-group-item">
        <h4>{{ user.username }}</h4>
        <p>
          Visit their
          <a href="https://github.com/{{ user.username }}" target="_"
            >GitHub profile</a
          >
          to connect with them.
        </p>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>You don't have any matches yet.</p>
    {% endif %}
    <div>
      <a href="/" class="btn btn-primary">Go Back Home</a>
    </div>
  </div>
</div>
{% endblock %}
